@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-family: "Bebas Neue", sans-serif;
  background-color: #232741;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.particle {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  animation: particleFade 1s ease-out, particleMove 2s linear infinite;
}

@keyframes particleFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes particleMove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--x), var(--y));
  }
}

.btn-start-animation {
  color: #fff;
  background: linear-gradient(to bottom, #002865 0%, #1d55aa 50%, #578bda 100%);
  border: none;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: transform 0.5s ease;
  font-size: 3rem;

  height: 20rem;
  width: 20rem;

  z-index: 3;
}

.btn-start-animation:hover {
  transform: scale(0.9);
}

.rotate-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center; /* Added */
  border: 2px dashed #333;
  border-radius: 50%;
  animation: rotateBorder 50s linear infinite;
  width: 22rem;
  height: 22rem;
  transition: all 0.5s ease;
  z-index: 1;
}

@keyframes rotateBorder {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.btn-start-animation.scale-down {
  transform: scale(0);
}

.rotate-container.scale-down {
  width: 0;
  height: 0;
}

.text-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  transition: all 1s ease-in;
  opacity: 0;
  transform: translateY(10rem);

  z-index: 1;
}

.transition {
  position: 0;
  opacity: 1;
  transform: translateX(0);
}

.title {
  transition: all 0.5s ease;
}

.title.color-change {
  color: red;
}
