@import url("//db.onlinewebfonts.com/c/20e2d60222c36b7a191e019607045109?family=Neusa+Medium");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #000;
  font-family: "Neusa Medium", sans-serif;

  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 37.5%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////////// */
/* First Video that plays in the bg */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -100;
  visibility: hidden;
}

/* Second loop video that plays in the bg */
.bg-video-loop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
  visibility: hidden;
  transition: all 1s ease;
  opacity: 0;
}

.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: hue-rotate(180deg);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Particles for mouse effect */
#cursor-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.particle {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgba(30, 48, 89, 0.5);
  animation: particleFade 1s ease-out, particleMove 2s linear infinite;
}

@keyframes particleFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes particleMove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--x), var(--y));
  }
}

@media (max-width: 400px) {
  #cursor-overlay {
    display: none;
  }

  .cursor {
    display: none;
  }

  .particle {
    display: none;
  }
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* First btn animation */
.title-BGS {
  position: absolute;
  top: 0;
  left: 50%;
  color: #1c63dd;
  font-size: 6em;

  margin-top: 0;
  transform: translate(-50%, 0);
  transition: all 1s ease;
  opacity: 0;
  z-index: 1000;
}

.title-BGS.fade-in {
  opacity: 1;
  margin-top: 5rem;
}

.btn-start-animation {
  color: #fff;
  background: transparent;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
  font-size: 3rem;

  height: 20rem;
  width: 20rem;

  z-index: 3;
}

.btn-start-animation:hover {
  transform: scale(0.9);
  border: 1px solid
    linear-gradient(to bottom, #002865 0%, #1d55aa 50%, #002865 100%);
}

.rotate-container {
  position: fixed;
  border: 2px dashed #333;
  border-radius: 50%;
  animation: rotateBorder 50s linear infinite;
  width: 22rem;
  height: 22rem;
  transition: rotate 0.5s ease;
  z-index: 1;
}

@keyframes rotateBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-start-animation.scale-down {
  transform: scale(0);
  opacity: 0;
}

.rotate-container.scale-down {
  width: 0;
  height: 0;
  opacity: 0;
}

@media (max-width: 400px) {
  .rotate-container {
    height: 20rem;
    width: 20rem;
  }

  .btn-start-animation {
    height: 18rem;
    width: 18rem;
  }

  .title-BGS {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* Fade in text after pressing first btn */
.text-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  color: #cbcbcb;
  font-size: 2.3rem;

  position: absolute;
  top: 10%;
  left: 10%;
  opacity: 1;

  height: 90vh;
  width: 40vw;
  z-index: 1;
}

.text-about p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2.7rem;
  font-weight: lighter;
}

.text-about__btnText h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 8rem;
  margin-right: 3rem;
}

.text-invisible {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50rem);
}

.text-fade-out {
  transform: translateX(-25rem);
  opacity: 0;
}

.title {
  display: inline-block;
  font-size: 7rem;
  opacity: 0;
  margin-bottom: 1rem;
  margin-right: -1rem;
}

.title.color-change {
  opacity: 1;
  color: #1c63dd;
  transform: translateY(-1rem);
}

.text-about__btnText {
  display: flex;
  justify-content: flex-start;
  margin-top: 3rem;
  width: 100%;
}

.btn__text-about:hover i {
  animation: moveArrowRight 1s;
}

@media only screen and (max-width: 37.5em) {
  .btn__text-about:hover i {
    animation: none;
  }

  .title {
    font-size: 5rem;
  }

  .text-about p {
    line-height: normal;
  }

  .text-about {
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
  }

  .text-about__btnText {
    justify-content: center;
  }
}

/* /////////////////////////////////////////////////////////////////////////////// */
/* All btn style */
.btn {
  height: 5rem;
  width: 5rem;

  border: #002865 solid;
  border-radius: 50%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: transform 0.5s ease;
  overflow: hidden;
}

.btn:hover {
  transform: scale(1.2);
}

.btn img {
  height: 55%;
  transform: translateY(10%);
}

/* ////////////////////////////////////////////////////////////////////////// */
/* Btn hover animation */
.btn-arrow-up:hover i {
  animation: moveArrowUp 1s;
}

.btn-arrow-right:hover i {
  animation: moveArrowRight 1s;
}

.btn-arrow-left:hover i {
  animation: moveArrowLeft 1s;
}

@keyframes moveArrowUp {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-250%);
  }
  51% {
    transform: translateY(250%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveArrowRight {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(250%);
  }
  51% {
    transform: translateX(-250%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveArrowLeft {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-250%);
  }
  51% {
    transform: translateX(250%);
  }
  100% {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 600px) {
  .btn-arrow-up:hover i {
    animation: none;
  }

  .btn-arrow-right:hover i {
    animation: none;
  }
  .btn-arrow-left:hover i {
    animation: none;
  }
}

/* ///////////////////////////////////////////////////////////// */
/* Cards with security, monitor and online shop buttons */
.card {
  position: absolute;
  height: 10rem;
  width: 10rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transform: translateX(0);
  opacity: 1;

  z-index: 1;
}

.card.card-invisible {
  visibility: hidden;
  opacity: 0;
  transform: translateY(6rem);
}

.card.fade-out {
  transform: TranslateX(-20rem);
  opacity: 0;
  visibility: hidden;
}

.card h3 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.card-1 {
  left: 30%;
  top: 20%;
  height: fit-content;
}

.card-2 {
  left: 40%;
  top: 60%;
}

.card-3 {
  left: 60%;
  top: 30%;
}

@media only screen and (max-width: 400px) {
  .card-1 {
    left: 10%;
    top: 20%;
  }

  .card-2 {
    left: 30%;
    top: 60%;
  }

  .card-3 {
    left: 70%;
    top: 30%;
  }
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* Text after pressing, the security, monitoring or online shop  button */
.info-shopping,
.info-security,
.info-monitoring {
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  position: absolute;
  transform: translateX(100rem);
  opacity: 0;
  visibility: hidden;
  height: 100vh;
  width: 90vw;
  z-index: 5;
}

.info-shopping.active,
.info-security.active,
.info-monitoring.active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.info-shopping h1,
.info-security h1,
.info-monitoring h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: #1c63dd;
}

.info-shopping p,
.info-security p,
.info-monitoring p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .info-shopping h1,
  .info-security h1,
  .info-monitoring h1 {
    font-size: 2.5rem;
  }

  .info-shopping p,
  .info-security p,
  .info-monitoring p {
    font-size: 1.5rem;
    font-weight: lighter;
  }

  .info-shopping,
  .info-security,
  .info-monitoring {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .btn-arrow-up:hover i {
    animation: none;
  }

  .btn-arrow-right:hover i {
    animation: none;
  }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////// */

.info-security__container {
  display: flex;

  margin-bottom: 10rem;
  margin-top: 2rem;

  height: 50%;
  width: 100%;
}

.info-security__container--column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;

  text-align: start;
  transform: translate(20%, 20%);
  width: 50%;
}

.info-security__container--column i {
  background-color: #fff;
  border-radius: 50%;
  color: #000;
  text-align: center;
  margin-right: 2rem;

  height: 2rem;
  width: 2rem;
}

.info-security__container--column h1 {
  font-size: 3rem;
  color: #fff;
}

.info-security__container--column p {
  font-size: 1.6rem;
}

@media only screen and (max-width: 500px) {
  .info-security__container {
    justify-content: center;
    align-items: flex-start;
  }

  .info-security__container--column h1 {
    font-size: 3rem;
    color: #fff;
    margin-top: 5rem;
  }

  .info-security__container--column p {
    font-size: 1.3rem;
  }

  .info-security__container--column {
    transform: translate(0, 0);
  }

  .info-security__container--column i {
    height: 1.5rem;
    width: 1.5rem;
  }
}
